[submodule "mmdetection"]
	path = mmdetection
	url = https://github.com/open-mmlab/mmdetection
[submodule "mmclassification"]
	path = mmclassification
	url = https://github.com/open-mmlab/mmclassification
